*{
    margin: 0px;
    box-sizing: border-box;

}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    text-align: center;
    background:#F0DB4F;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    margin-bottom: 5vh;
    color: #323330;

}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    text-align: center;
    padding-bottom: 5vh;
}
.table{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;

}
.spaceHead td{
    width: 1%;
    text-align: center;
    font-size: 3vw;
    background-image: linear-gradient(rgb(252, 0, 0),rgb(175, 32, 32));
    color: rgb(255, 255, 255);
    border:2px solid rgb(68, 1, 1);
    
}
.spaceText td{
    width: 1%;
    font-size: 3vw;
    background-image: linear-gradient(rgb(60, 194, 7),rgb(1, 136, 8));
    color: rgb(255, 255, 255);
    border:2px solid rgb(68, 1, 1);
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
}
.table{
    border-collapse:collapse;
}
.spaceText button{
    width: 100%;
    font-size: 6vw;
    background-image: linear-gradient(rgb(60, 194, 7),rgb(1, 136, 8));
    color: rgb(252, 4, 4);
    border:thin solid rgb(68, 1, 1);
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
}

.buttonAdd,
.buttonRemove{
    width: 120px;
    height: 80px;
    font-size: 2vh;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(7, 7, 7);
    margin-top: 30px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    border: thin solid black;
    margin-bottom: 5px;
    margin-right: 15px;
}
.buttonAdd{
    margin-left: 45vw;
    background-color: rgb(206, 49, 49);

}
.buttonRemove{
    background-color: rgb(30, 214, 30);
}
.spaceText button:hover,
.buttonAdd,
.buttonRemove{
    cursor: pointer;

}
.visible{
    visibility: visible;
}