:root{
    --colorFondo : white; 
}
*{
    margin:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color:var(--colorFondo);
}
.bloque1{
    background-color:  #f0db4f;
    position: fixed;
    width: 100vw;
    text-align: center;
    padding: 20px;
    
}
.bloque1 h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 6vw;
    
}
.botonCambio{
    position: fixed;
    top: 84vh;
    left: 2vw;
    height: 15vh;
    width: 100px;
    background-color: #f0db4f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    
}
.botonCambio:hover{
    cursor:pointer;
    background-color: #ffde08;
}
.botonCambio span{
    font-size: 6vh;
    padding-top: 29%;
}