
@{
    ViewData["Title"] = "Servicios";
    Layout = ""; //Aqui se cambio el layout a otro por ejemplo el que se encuentra en esa url , osease su superpage y se uso renderbody para apuntar donde
    //En este caso no fue asi porque hace falta crear otro modelo y mejor lo deje vacio pero en teoria si funcionaria xd
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Estos son los servicios que ofrecemos</p>
</div>