*{
    margin:0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@keyframes animacion {
    0%{
        opacity: .9;
       
    }
    30%{
        opacity: .6;
    }
    60%{
        opacity: .3;
    }
    100%{
        opacity: .1;
    
    }
}
.bloque1{
    background-color:  #f0db4f;
    position: fixed;
    width: 100vw;
    text-align: center;
    padding: 20px;
    
}
.bloque1 h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 6vw;
    
}
.botonScroll{
    position: fixed;
    text-align: center;
    top: 84%;
    right: 15px;
    width: 100px;
    height: 15vh;
    background-color: #f0db4f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.botonScroll span{
    padding-top: 20%;
    font-size: 8vh;
}
.visible{
    animation-name: animacion;
    animation-duration: 1s;
    animation-direction: reverse;
    visibility: visible;
}
.invisible{
    
    visibility: hidden;
}
.texto{
    margin-top: 100vh;
    
}
.texto1{
    padding-top: 90px;
}